___

<a href='http://www.pieriandata.com'> <img src='../Pierian_Data_Logo.png' /></a>
___
# Series

The first main data type we will learn about for pandas is the Series data type. Let's import Pandas and explore the Series object.

A Series is very similar to a NumPy array (in fact it is built on top of the NumPy array object). What differentiates the NumPy array from a Series, is that a Series can have axis labels, meaning it can be indexed by a label, instead of just a number location. It also doesn't need to hold numeric data, it can hold any arbitrary Python Object.

Let's explore this concept through some examples:

In [2]:
import numpy as np
import pandas as pd

### Creating a Series

You can convert a list,numpy array, or dictionary to a Series:

In [3]:
labels = ['a','b','c']
my_list = [10,20,30]
arr = np.array([10,20,30])
d = {'A':10,'B':20,'C':30}

Py Lists to Pandas Series -

In [4]:
pd.Series(data=my_list) # a pandas series without labels

0    10
1    20
2    30
dtype: int64

In [5]:
pd.Series(data=my_list,index=labels) # a pandas series with labels
# IMPORTANT - length of lables should be same as length of my_list, otherwise error will be thrown.

# pd.Series(index=labels,data=my_list) yaha order doesnt matter as we are specifing "data=" and "index=".

a    10
b    20
c    30
dtype: int64

In [6]:
# Pehle data fir index attribute dena he ->
# Series(data, labels) -> here the order matters as we are NOT specifing the "data=" and "index=".
pd.Series(my_list,labels)

a    10
b    20
c    30
dtype: int64

Numpy Array to Pandas Series -

In [7]:
pd.Series(arr)

0    10
1    20
2    30
dtype: int32

In [8]:
pd.Series(arr, ["i","ii","iii"]) # same as what we did for py lists Series(data, labels)

i      10
ii     20
iii    30
dtype: int32

Py Dictionaries to Pandas Series -
Ab dictionaries me to pehle se hi key-value pairs he, to key ko label ki tarah use karte he and value as the corresponding data.

In [9]:
pd.Series(d)

A    10
B    20
C    30
dtype: int64

In [10]:
# A Pandas Series can hold ANY type of data
pd.Series([len, sum, range, print]) # I have stored built-in functions in the pandas Series, we cannot do this in Numpy vector or matrix.

0      <built-in function len>
1      <built-in function sum>
2              <class 'range'>
3    <built-in function print>
dtype: object

### Data in a Series

A pandas Series can hold a variety of object types:

In [11]:
pd.Series(data=labels)

0    a
1    b
2    c
dtype: object

In [12]:
# Even functions (although unlikely that you will use this)
pd.Series([sum,print,len])

0      <built-in function sum>
1    <built-in function print>
2      <built-in function len>
dtype: object

## Using an Index

The key to using a Series is understanding its index. Pandas makes use of these index names or numbers by allowing for fast look ups of information.

**Works like a hash table or dictionary.**

Let's see some examples of how to grab information from a Series. Let us create two sereis, ser1 and ser2:

In [13]:
ser1 = pd.Series([1,2,3,4],['USA', 'Germany','USSR', 'Japan']) # IMP remember -> Series(data, index)
# The elements in data are called "data points".

In [14]:
ser1

USA        1
Germany    2
USSR       3
Japan      4
dtype: int64

In [15]:
ser2 = pd.Series([1,2,5,4],['USA', 'Germany','Italy', 'Japan'])

In [16]:
ser2

USA        1
Germany    2
Italy      5
Japan      4
dtype: int64

In [17]:
# Accessing data from a Pandas Series is same as getting data from a py dictionary.

print(ser1["USA"])
print(ser2["USA"])

print(ser1["USSR"])

print(ser2["Italy"])

1
1
3
5

Operations are then also done based off of index:

Basically, the arithmetic is done over the corresponding index values. For such indices which aren't present in both/all of the pandas series the values are NaN -> Not a Number. Remember, 2 ya zyada pandas series me arithmetic operation karte he to it returns a pandas series which has **floating point numbers**, this is done so that none of the data (decimal) is lost.

Also jaise Numpy array me kiya tha, ki (pandas_series + scalar) sare elements me scalar ko add kar deta he aur same size ka pandas series return karta he.

In [18]:
ser1 + ser2
# "Italy" wasn't present in ser1 so its NaN, similar for "USSR"

Germany    4.0
Italy      NaN
Japan      8.0
USA        2.0
USSR       NaN
dtype: float64

In [20]:
ser1 - ser2

Germany    0.0
Italy      NaN
Japan      0.0
USA        0.0
USSR       NaN
dtype: float64

In [22]:
ser1*ser2

Germany     4.0
Italy       NaN
Japan      16.0
USA         1.0
USSR        NaN
dtype: float64

In [26]:
ser1+10

USA        11
Germany    12
USSR       13
Japan      14
dtype: int64

In [ ]:
ser

Let's stop here for now and move on to DataFrames, which will expand on the concept of Series!
# Great Job!